/* GENERAL */
*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

/* NAVBAR */
.header
{
    background-color: #080808;
}
.navbar
{
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1355px;
    padding: 15px;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.logo
{
    padding-top: 0.5rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.menu ul
{
    display: flex;
    justify-content: space-between;
}
.menu ul li
{
    list-style: none;
}
.menu ul li a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-left: 73px;
    font-weight: 600;
}
@media (max-width: 1200px) {
    .menu ul li a
    {
        margin-left: 30px;
    }
}