/* GENERAL */
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 1.2;
}

/* NAVBAR */
nav {
    background-color: #080808;
}

nav ul {
    height: 77px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1;
}

nav ul li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

nav ul li a:hover::after {
    transform: scale(1);
}


/* HOME */
.banner img {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.info-home {
    position: relative;
    margin: 0 130px;
    overflow: hidden;
    padding-top: 13%;
}

h2 {
    color: #f0f0f0;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
    text-transform: capitalize;
    line-height: 1.2;
}

.info-home p {
    color: #e2e2e2;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    padding-bottom: 15%;
}


/* ABOUT ME */
#about-me {
    height: 80vh;
    overflow: hidden;
    background-color: #000;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal-info {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 72px;
}

.infos {
    display: flex;
    flex-direction: row;
}

.infos-row {
    width: 270px;
}

.info {
    font-size: 16px;
    color: #d5d7d9;
    font-weight: 500;
    margin-bottom: 1rem;
}

.info span {
    color: #fdfdfd;
    font-size: 16px;
    font-weight: 700;
}

.btn-cv {
    cursor: pointer;
    margin-top: 28px;
    text-decoration: none;
    background-color: #fff!important;
    min-width: 160px;
    min-height: 46px;
    color: #fff;
    fill: #fff;
    border: 1px solid #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
    transition: all 0.3s ease;
    vertical-align: middle;
    line-height: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: color 0.3s;
}

.btn-cv:hover {
    background-color: #000;
    color: #000;
}

.btn-cv::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    border-radius: 2px;
    transform: scaleX(1);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.btn-cv:hover::before {
    transform: scaleX(0);
}


/* EDUCATION */
#education {
    background-color: #131416;
    height: 100vh;
}

#education h3 {
    text-align: center;
    padding-top: 45px;
}

.education-box {
    background-color: #000;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    margin: 0;
    padding: 25px 20px;
    margin: auto 50px;
}

.education .date {
    background-color: #00b074;
    color: #fff;
    display: inline-block;
    font-family: Open Sans Light;
    font-size: 14px;
    margin: 0 auto;
    padding: 4px 10px;
    text-align: center;
    vertical-align: middle;
}

.education h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: 500;
    line-height: 1.2;
}

.education .institution {
    color: #d5d7d9;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0 auto;
    line-height: 1.2;
}

.education-box hr {
    height: 1px;
    color: #fff;
    margin: 1rem 0;
    opacity: 0.25;
}