/* GENERAL */
*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

/* NAVBAR */
.header
{
    background-color: #080808;
}
.navbar
{
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1355px;
    padding: 15px;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.logo
{
    padding-top: 0.5rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.menu ul
{
    display: flex;
    justify-content: space-between;
}
.menu ul li
{
    list-style: none;
}
.menu ul li a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-left: 73px;
    font-weight: 600;
}

/* HOME */
.banner img
{
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.info-home
{
    position: relative;
    margin: 0 130px;
    overflow: hidden;
    padding-top: 13%;
}
h2
{
    color: #f0f0f0;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    line-height: 1.2;
}

h1
{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
    text-transform: capitalize;
    line-height: 1.2;
}

p
{
    color: #e2e2e2;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    padding-bottom: 15%;
}

@media (max-width: 1200px) {
    .menu ul li a
    {
        margin-left: 30px;
    }
}